/*
----------------------------------------------------------------------------------
----------------------------------- GENERAL
----------------------------------------------------------------------------------
*/

html{
	overflow-x: hidden;
	overflow-y: scroll;
}

body{
	background-image: linear-gradient(90deg, #888 0%, #8A8A8A 2%, #8F8F8F 25%, #8F8F8F 75%, #8A8A8A 98%, #888 100%);
	font-family: Consolas;
	margin: 0px;
	height: 100%;
}

.no-select { user-select: none; }
.no-pointer { pointer-events: none; }

iframe {
	margin-left: -24px;
	width: calc(100% + 48px);
	height: 100%;
}

/*
----------------------------------------------------------------------------------
----------------------------------- HELLO SIR
----------------------------------------------------------------------------------
*/

a{
	text-decoration: none;
}

.page-content a{
	color: #9D6;
	font-size: 1.05em;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
	transition: 0.125s;
}

.page-content a:hover{
	color: #eee;
}

.page-content .abig{
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

p{
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
}

img{
	margin: 4px;
}

.image-logo {
	margin-top: 12px;
	margin-bottom: -4px;
	padding: 0px;
	max-width: 60%;
}

table, th, td {
	border:1px solid #000;
}

.pcenter{
	text-align: center;
}

.psemititle{
	font-size: 48px;
	font-weight: bold;
	color: #EEE;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	text-shadow: 0px 0px 16px rgba(0,0,0,0.25);
}

.psmol{
	opacity: 0.65;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

.list-inner{
	margin: 0px;
}

.list-right{
	text-align:right;
	margin-top:-16px;
	margin-left:55%;
}

.pwrap {
	padding:2px;
	border-radius:8px;
	margin-top:5px;
	margin-bottom:5px;
	width: 85%;
}

.pcolorized{
	padding:0px;
	margin-left:-4px;
	padding-left:4px;
	border-radius:6px;
	background-image: linear-gradient(90deg, #FFFFFF20 30%, transparent 100%);
	text-shadow: 0px 2px 6px rgba(255,255,255,0.25);
}

.pwrap .pcolorized{
	padding:4px;
	padding-left:10px;
	margin-left:0px;
}

.pred { background-image: linear-gradient(90deg, #8F6060FF 30%, transparent 100%); }
.pgreen { background-image: linear-gradient(90deg, #608F60FF 30%, transparent 100%); }
.pblue { background-image: linear-gradient(90deg, #70708FFF 30%, transparent 100%); }
.pyellow { background-image: linear-gradient(90deg, #8F8F60FF 30%, transparent 100%); }

.tred { box-shadow: 0 0 0 1px inset #F45757; padding-left: 4px; padding-right: 6px; }
.tgreen { box-shadow: 0 0 0 1px inset #57F457; padding-left: 4px; padding-right: 6px; }
.tblue { box-shadow: 0 0 0 1px inset #5757F4; padding-left: 4px; padding-right: 6px; }
.tyellow { box-shadow: 0 0 0 1px inset #F4F457; padding-left: 4px; padding-right: 6px; }

/*
----------------------------------------------------------------------------------
----------------------------------- MAIN PAGE, NAVBAR, FOOTER
----------------------------------------------------------------------------------
*/

.main-title{
	margin: auto;
	color: #E4E4E4;
	font-size: 16px;
}

.bar{
	display: inline-flex;
	width: 100%;
	height: 40px;
	margin: 0px;
	position: fixed;
	overflow: hidden;
}

.navbar {
	background-image: linear-gradient(0deg, #212121 0%, #303030 45%);
	text-transform: uppercase;
	top:0px;
}

.footbar {
	background-image: linear-gradient(0deg, #303030 55%, #282828 100%);
	text-transform: uppercase;
	bottom:0px;
}

.navbar-left{
	margin-left: 50px;
	margin-right: auto;
}

.navbar-right{
	margin-left: auto;
	margin-right: 50px;
}
	
.navbar-element{
	height: 30px;
	padding: 0px 16px;
	margin: 3px 4px;
	float: left;
	color: #F2F2F2;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	border-radius: 16px;
	transition: 0.25s;
}

.navbar-element:hover {
	background-color: #D0D0D0;
	border-radius: 4px;
	box-shadow: inset 0px 0px 5px #E0E0E0;
	text-shadow: 0px 0px 4px #888;
	font-size: 26px;
	color: #000;
}

.navbar-element.active {
	background-color: #55BB33;
	border-radius: 4px;
	box-shadow: inset 0px 0px 5px #66FF44;
	text-shadow: 0px 0px 4px #CCC;
	font-size: 26px;
	color: #FFFFFF;
}

.wrapper-overlay{
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #8F8F8F;
	pointer-events: none;
}

.opacity-one{
	opacity: 1.0;
	transition: 0.125s;
}

.opacity-zero{
	opacity: 0.0;
	transition: 0.125s;
}

.content-wrapper{
	position: fixed;
	overflow: hidden;
	margin-top: 40px;
	width: Calc(100% + 50px);
	height: Calc(100% - 80px);
}

/*
----------------------------------------------------------------------------------
----------------------------------- INNER PAGE
----------------------------------------------------------------------------------
*/

.homepage-blankspace {
	height: 24px;
}

.homepage-blankspace-small {
	height: 12px;
}

.endofpage-blankspace {
	height: 32px;
}

.home-header-content{
	font-family: Calibri;
	padding-top: 8px;
	background-image: linear-gradient(0deg, transparent 0%, #FFFFFF30 100%);
	text-align: center;
	font-size: 30px;
	color: #202020;
}

.header-content{
	font-family: Calibri;
	padding-top: 20px;
	background-image: linear-gradient(0deg, transparent 0%, #FFFFFF30 100%);
	text-align: center;
	font-size: 20px;
	color: #202020;
}

.header-content h1{
	margin: 0px;
	padding: 0px;
	color: #202020;
}

.header-separator{
	background-image: linear-gradient(90deg, transparent 0%, #606060 25%, #606060 75%, transparent 100%);
	height: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footbar .foottext{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 16px;
	color: #444;
	text-shadow: 0 0 6px #222;
}

.page-content{
	margin: auto;
	margin-left: -25px;
	margin-bottom:10px;
}

.page-section{
	width: 80%;
	margin: auto;
}

.section-title{
	color: #E6E6E6;
	background-image: linear-gradient(90deg, transparent 0%, #555 20%, transparent 100%);
	text-shadow: 0px 0px 6px #AAA;
}

.page-section h1{
	margin:0;
	font-size: 22px;
	margin-left: 15%;
	text-align: left;
}

.page-section h1.spoiler-mark{
	margin:0px;
	margin-top:-8px;
	position:absolute;
	margin-left:10%;
	font-size: 32px;
}

.section-title-spoiler{
	font-size: 22px;
	display: flex;
	color: #C4C4C4;
	background-image: linear-gradient(90deg, transparent 0%, #777 20%, transparent 100%);
	transition: 0.125s;
}

.section-title-spoiler:hover, .section-title.open:hover{
	color: #E6E6E6;
	background-image: linear-gradient(90deg, transparent 0%, #666 20%, transparent 100%);
	text-shadow: 0px 0px 6px #AAA;
}

.section-title-spoiler.open{
	background-image: linear-gradient(90deg, transparent 0%, #555 20%, transparent 100%);
	color: #E6E6E6;
	text-shadow: 0px 0px 6px #AAA;
}

.section-title-spoiler.open:hover{
	color: #E6E6E6;
	background-image: linear-gradient(90deg, transparent 0%, #444 20%, transparent 100%);
}

.section-separator.top{
	margin-top: 10px;
}

.section-separator{
	background-image: linear-gradient(90deg, transparent 0%, #666 20%, transparent 100%);
	height:2px;
}

.section-content{
	font-family: Calibri;
	font-size: 16px;
	color: #202020;
	max-width: 80%;
	margin: auto;
	margin-bottom: 10px;
}

.section-content i{
	color: #000;
	text-shadow: 0px 0px 4px rgba(0,0,0,0.334);
}

.section-content .psmol{
	margin-left:24px;
}

.list-banner{
	margin-top:4px;
	color: #D4D4D4;
	width:45%;
	background-image: linear-gradient(90deg, transparent 0%, #777 8%, transparent 100%);
	margin-left: -3%;
}

.list-banner h1{
	font-weight: bold;
	text-shadow: 0px 0px 6px #999;
	font-size: 16px;
	margin-left: 6%;
}

.section-banner{
	margin-top:10px;
	color: #D4D4D4;
	width:75%;
	background-image: linear-gradient(90deg, transparent 0%, #777 8%, transparent 100%);
	text-align: left;
}

.section-banner h1{
	font-weight: bold;
	text-shadow: 0px 0px 6px #999;
	font-size: 18px;
	margin-left: 6%;
}

.page-subsection{
	margin-top: 6px;
	margin-left: 24px;
}

.page-subsection h1{
	margin:0px;
	font-size: 18px;
	margin-left: 2%;
	text-align: left;
	text-transform: uppercase;
}

.subsection-title-center{
	background-image: linear-gradient(90deg, transparent 0%, #8A8A8A 15%, #8A8A8A 35%, transparent 100%);
}


.subsection-title-center h1{
	margin-left:-256px;
	color: #D4D4D4;
	padding:0px;
	text-align: center;
}

.subsection-title-separator{
	background-image: linear-gradient(90deg, transparent 0%, #7A7A7A 12%, transparent 100%);
	height:2px;
}

.subsection-title{
	color: #D4D4D4;
	width:75%;
	background-image: linear-gradient(90deg, transparent 0%, #777 8%, transparent 100%);
	text-shadow: 0px 0px 6px #999;
}

.subsection-separator{
	margin-top: 5px;
	margin-bottom: 5px;
	background-image: linear-gradient(90deg, transparent 0%, #7A7A7A 12%, transparent 100%);
	height:2px;
}

.list {
	margin-top:4px;
	margin-bottom:4px;
}

.list-separator{
	margin-top:6px;
	margin-bottom:2px;
	padding:0px;
	background-image: linear-gradient(90deg, transparent 0%, #6060607F 25%, #6060607F 75%, transparent 100%);
	height:2px;
	width:50%;
}

.spoiler-content{
	max-height: 0;
	overflow: hidden;
	transition: 0.125s;
}

/*
----------------------------------------------------------------------------------
----------------------------------- KEY VALUE
----------------------------------------------------------------------------------
*/

.dictionarycontainer {margin-top: 4px; margin-bottom: 8px; margin-left: -32px; }

.keyvalue {  margin: 0px; margin-top: 2px; max-height: 256px;}
.keyvalue div { display: inline-block; margin: 0px; padding: 0px; }
.keyvalue .keysq { margin-left: 48px; white-space: pre; width: 24px; }
.keyvalue .key { font-weight: bold; text-align: right; margin-right: 12px; }
.keyvalue .value { font-size: 13px; margin-left: 12px; overflow: hidden;}
.keyvalue .desc { border-top: solid 1px #777; text-align: center; margin-right: 12px; }

/*
----------------------------------------------------------------------------------
----------------------------------- BUS TABLE
----------------------------------------------------------------------------------
*/

.bustable{
	font-family: calibri;
	overflow: hidden;
	background: #222;
	border: 4px solid #111111;
}

.bustable .bus { white-space: pre;}
.bustable .bus div { display: inline-block; margin: 0px; padding: 0px; }

.bustable .bus:nth-of-type(even) { background: #222; }
.bustable .bus:nth-of-type(odd) { background: #2A2A2A; }

.bustable .h { font-family: consolas; white-space: pre; color: #777; }
.bustable .n { text-align: left;}

.bustable .c { width: 65%; float: right; }
.bustable .d { white-space: pre; }
.bustable .d div { white-space: pre; margin: 0px; padding: 0px; font-size: 14px; }

.bustable .i { width: 96px; color: #C4C4C4; text-align: left;}
.bustable .f { width: 20px; }
.bustable .s { width: 128px; color: #000; text-align: center; }
.bustable .p { width: 48px; color: #000; text-align: center; }
.bustable .v { width: 48px; color: #000; text-align: center; }

.bustable .t { font-size: 12px; text-align: left;}
.bustable .f, .bustable .s, .bustable .p, .bustable .v{ box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125); } 
.bustable .s { border-left: 2px solid #444; }
.bustable .p { border-right: 1px solid #444; }
.bustable .v { border-right: 2px solid #444; }

.bustable .n0{ color: #FF7070; font-weight:bold;}
.bustable .n1{ color: #FFFFFF; font-weight:bold;}
.bustable .n2{ color: #FF7070;}
.bustable .n3{ color: #FFFF90;}
.bustable .n4{ color: #FFFFFF;}

.bustable .i{ color: #C4C4C4;}

.bustable .f0 { background: #FF0000; }
.bustable .f1 { background: #FFEA00; }
.bustable .f2 { background: #00FF00; }

.bustable .s0{ color: #777; background: #333333;}
.bustable .s1{ color: #222; background: #AFD095;}
.bustable .s2{ color: #222; background: #FF6D6D;}
.bustable .s3{ color: #222; background: #FFDE59;}
.bustable .s4{ color: #222; background: #79CDD3;}
.bustable .s5{ color: #222; background: #FFB66C;}

.bustable .p0{ background: #77BC65;}
.bustable .p1{ background: #62A3E9;}
.bustable .p2{ background: #FF7B59;}

.bustable .v0{ color: #777; background: #333333;}
.bustable .v1{ background: #77BC65;}
.bustable .v2{ background: #C6CA4D;}
.bustable .v3{ background: #FFDE59;}
.bustable .v4{ background: #FFBA59;}
.bustable .v5{ background: #FF7B59;}

.bustable .t{ color: #A4A4A4;}

.bustable .pm{ font-size: 16px; text-align: center; color: #FFFFFF; font-weight:bold;}

/*
----------------------------------------------------------------------------------
----------------------------------- EVENT TABLE
----------------------------------------------------------------------------------
*/

.eventtable{
	font-family: calibri;
	overflow: hidden;
	background: #222;
	border: 4px solid #111111;
}

.eventtable .event { white-space: pre;}
.eventtable .event div { display: inline-block; margin: 0px; padding: 0px; }

.eventtable .event:nth-of-type(even) { background: #222; }
.eventtable .event:nth-of-type(odd) { background: #2A2A2A; }

.eventtable .b{ width: 25%; margin-left: 10px;}
.eventtable .n{ width: 35% }
.eventtable .u{ width: 30%; float: right; }

.eventtable .pm{ white-space: pre; font-size: 16px; text-align: left; color: #FFFFFF; font-weight:bold;}